*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header {
	background-image: url(../img/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: "BebasBold";
}
header a {
	color: #fff;
}

.top_line {
	min-height: 97px;
	box-shadow:0 0 0 1px rgba(255,255,255,.4);
	-webkit-box-shadow:0 0 0 1px rgba(255,255,255,.4);
	/*position: absolute;
	top: 0;*/
	width: 100%;
	background-color: rgba(0,0,0,.6);
	padding: 22px 0;
}

.top_addr {
	padding-left: 50px;
	background-image: url(../img/top_map.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 26px;
}

.top_addr strong {
	display: block;
	color: #d12f22;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 32px;
}
.top_addr a {
	font-size: 21px;
	border-bottom:1px dashed #fff;
	transition: border-bottom .25s ease;
}
.top_addr a:hover {
	border-bottom: transparent;
}
.logo_wrap {
	position: relative;
	margin: auto;
	width: 248px;
}
.top_line .logo {
	position: absolute;
	top: -18px;
}

.ta_right {
	background-image:none;
	padding-left: 0;
	text-align: right;
}
.ta_right span {
	color: #fff;
}

.top_addr2 {
	line-height: 26px;
}

.top_addr2 strong {
	display: block;
	color: #d12f22;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 31px;
}
.top_addr2 a {
	font-size: 21px;
	border-bottom:1px dashed #fff;
	transition: border-bottom .25s ease;
}
.top_addr2 a:hover {
	border-bottom: transparent;
}

header h1 {
	text-align: center;
	margin-top: 65px;
	color:#fff;
	font-size: 40px;
	text-shadow: 0 3px 1px rgba(0,0,0,.6);
	font-family: "BebasRegular"
}
.button {
	display: inline-block;
	background-color: #d12f22;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 25px;
	font-size: 20px;
	font-family: "BebasBold";
	border-bottom: 4px solid #AC160A;
	color: #fff;
}
.button:hover {
	background-color: #e64437;
}
.button:active {
	background-color: #b81609;
}
header .button {
	margin-right: 20px;
}
.st_button {
	background-image: url(../img/camera_icon.png);
	background-repeat: no-repeat;
	background-position: left 8px center;
	line-height: 18px;
	padding-top: 7px;
	text-align: left;
	padding-left: 60px;
}
.buttons_top {
	position: absolute;
	width: 100%;
	bottom: 32px;
}

.top_mnu {
	height: 62px;
	background-color: #242424;
	box-shadow:0 0 0 1px rgba(255,255,255,.3);
	font-family: "BebasRegular";
	text-transform: uppercase;
}
.top_mnu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.top_mnu a {
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 52px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #3B3B3B;
	background-image: url(../img/top_mnu_iconset.png);
	background-repeat: no-repeat;
	background-position: 20px 20px;
}
.top_mnu li {
	float: left;
}
.top_mnu .active,
.top_mnu li:hover a {
	background-color: #050505;
}

.top_mnu li:nth-child(2) a {
	background-position: 20px -70px;
}
.top_mnu li:nth-child(3) a {
	background-position: 27px -155px;
}
.top_mnu li:nth-child(4) a {
	background-position: 18px -247px;
}
.top_mnu li:nth-child(5) a {
	background-position: 19px -335px;
}
.top_mnu li:nth-child(6) a {
	background-position: 20px -420px;
}

.waranty {
	float: right;
	color: #fff;
	cursor: default;
	font-size: 15px;
	border: 3px solid #fff;
	border-radius: 3px;
	padding: 3px 5px;
	line-height: 16px;
	margin-top: 9px;
}
.w_left,
.w_right {
	vertical-align: top;
	display: inline-block;
}
.w_left span {
	font-size: 34px;
}
.w_left {
	font-family: "BebasBold";
	font-size: 20px;
	margin-right: 7px;
	margin-top: 10px;
}
.w_right {
	font-family: "RobotoCondensedRegular";
}

.main_cats {
	background-color: #191919;
	padding: 20px 0 40px;
}

.main_cats h2,
.art_header {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}

.main_cats h2 strong {
	color: #fff;
}
.main_cats h2 span {
	color: #d12f22;
}

section h2,
article h2 {
	position: relative;
}
.s_black h2::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/header_img.png);
	top: 19px;
	margin-left: -68px;
}
.s_black h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/header_img.png);
	background-position: -50px 0;
	top: 20px;
	margin-left: 20px;
}

.mc_wrap {
	padding: 0;
	text-align: center;
	position: relative;
}

.mc_item_wrap {
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}
.mc_item_wrap:first-child {
	margin-left: 0;
}
.mc_item {
	border: 1px solid #353535;
	border-radius: 2px;
}

.mc_item a {
	color:#fff;
}
.mc_item h4 {
	font-weight: normal;
	font-family: "BebasBold";
	font-size: 20px;
	margin: 0 0 7px;
}
.mc_item h4:hover,
.mc_item_wrap.active h4 {
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2A2A2A;
}
.mc_item span{
	height: 85px;
	width: 130px;
	background-image: url(../img/cats_iconset.png);
	display: block;
	margin: 15px auto 5px;
}
.mc_item_wrap:nth-child(1) span {
	background-position: 12px center;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -122px center;
}
.mc_item_wrap:nth-child(3) span {
	background-position: -262px center;
}
.mc_item_wrap:nth-child(4) span {
	background-position: -393px center;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -528px center;
}
.mc_item_wrap:nth-child(6) span {
	background-position: -662px center;
}

.mc_toggle {
	background-color: #212121;
	height: 25px;
	background-image: url(../img/mc_ar.png);
	background-repeat: no-repeat;
	background-position: 75px center;
	cursor: pointer;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #353535;
	background-position: -115px center;
}
.mc_item_wrap > ul {
	background-color: #353535;
	position: absolute;
	width: 100%;
	list-style: none;
	padding: 15px 0;
	margin:25px 0;
	font-family: "BebasRegular";
	font-size: 20px;
	text-align: center;
	z-index: 10;
	display: none;
	left: 0;
}
.mc_item_wrap.active > ul li {
	margin:0 10px;
	display: inline-block;
}
.mc_item_wrap.active > ul li a {
	color: #fff;
	text-decoration: underline;
}
.mc_item_wrap.active > ul li a:hover {
	text-decoration: none;
}
.mc_item_wrap_af {
	background-image: url(../img/mc_c_arr.png);
	content: "";
	height: 9px;
	width: 18px;
	position: absolute;
	margin: 17px 72px;
	display: none;
}

.mc_button_w {
	text-align: center;
	margin-top: 30px;
}

article.content {
	background-color: #E9E9E9;
}
article .art_header::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_header_img.png);
	top: 19px;
	margin-left: -68px;
}
article .art_header::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_header_img.png);
	background-position: -50px 0;
	top: 20px;
	margin-left: 20px;
}
article .art_header {
	color: #050505;
	margin-bottom: 20px;
}
p.h_descr {
	max-width: 790px;
	text-align: center;
	margin: 0 auto;
}
.home_items {
	background-color: #D6D6D6;
	padding: 40px 0;
	margin-top: 40px;
}

.hi_item {
	color: #050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}
.hi_item img {
	max-width: 100%;
	border-top: 8px solid #AC160A;
}
.s_bottom img {
	max-width: 90%;
	position: absolute;
	bottom: 0;
}
.s_bottom {
	padding-top: 32px;
}
.sb_header.button_cont {
	text-align: right;
}
.sb_header h2 {
	text-transform: uppercase;
	font-family: "BebasRegular";
	font-size: 36px;
	margin: 0;
}
.sb_content {
	margin-top: 30px;
}
.sb_content p {
	margin-bottom: 0;
	padding-bottom: 10px;
}
footer {
	background-color: #2A2A2A;
	color: #fff;
	padding: 28px 0 35px;
	font-family: "BebasBold";
	font-size: 20px;
}

footer a {
	color: #fff;
	text-decoration: underline;
}
footer a:hover {
	text-decoration: none;
}
footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
footer ul li {
	padding: 0 10px;
	float: left;
}